@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:100,300,400,500,700');

body
{
  margin: 0;
  padding: 0;
  background: #ffffff;
  color: #000000;
  font-family: 'Roboto Mono', monospace;
}

a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

a:hover
{
  color: tomato;
}

.buttons
{
	bottom:0px;
	position:fixed;
	z-index:100;
	width:100%;
	padding:10px;
	/* display:table; */
	
	overflow:auto;
	white-space: nowrap;
}
.inner
{
	/* display:table-cell; */
	width:100%;
	height:240px;
    display: inline-block;
    overflow-x: scroll;
	text-align:center;
	vertical-align: middle;
}

.btn{
	background-color:#efefef;
	width:240px;
	height:180px;
	border: 12px solid black;
	border-radius: 0;
	box-shadow: 0 0 0 #ED7D3A, 0 0 0 #EF2D56, 0 0 0 #2FBF71;
	box-sizing: border-box;
	
	-webkit-transition: all .15s ease-in;
    -moz-transition: all .15s ease-in;
    -o-transition: all .15s ease-in;
	transition: all .15s ease-in;
	
	margin: 0px 8px;
	cursor: pointer;
}

.btn:hover{
	margin-top: -7.5px;
    margin-left: -7.5px;
    box-shadow: 5px 5px 0 #ED7D3A, 10px 10px 0 #EF2D56, 15px 15px 0 #2FBF71;	
}

#menuToggle
{
  display: block;
  position: fixed;
  top: 50px;
  right: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -10px;
  left: -10px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  z-index:1;
  background: #ffffff;
  border-radius: 3px;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #000000;
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
  position: absolute;
  top:-48px;
  width: 480px;
  height:100vh !important;
  margin: 0 0 0 -400px;
  padding: 84px;
  padding-top: 125px;
  background:#ffffff;
  
  /* outline:10px solid black; */
  border: 20px solid black;
  box-shadow: inset 0px 0px 0px 0px red;
  box-sizing: border-box;
  
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}



#section {
  display: flex;
  min-height: 100vh;
  max-height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
}

#section li {
  flex: 1;
  -webkit-flex: 1; /* Safari 6.1+ */
  -ms-flex: 1; /* IE 10 */ 
  
  display: flex;
  align-items: stretch;
  padding: 20px;
  background: #E74C3C;
  cursor: pointer;
  transition: all .5s ease;
}

#section li:hover {
    background: #E74C70;
  }
  
#section li.active {
    flex: 5;
    background: #fff;
    cursor: default;
}
  
#section li .section-title {
  flex: 1;
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  color: white;
}

#section li .section-title a {
   margin: 0;
   transform: rotate(-90deg);
   white-space: nowrap;
   font-size:2rem;
   font-weight: 500;
   line-height:1.2;
   color: inherit;
}

#section li .section-content {
   flex: 1;
   display: flex;
   align-items: center;
   margin: 0;
   padding: 0;
   opacity: 0;
   transition: all .25s .1s ease-out;
}

#section li.active a {
   color: #E74C3C;
   font-size:2rem;
   font-weight: 500;
   line-height:1.2;
   
}
    
#section li.active .section-content {
  flex: 4;
  opacity: 1;
  transform: scaleX(1);
  color: #E74C3C;
  width:50%;
}


/* smoothstate.js */
/* keyframes */

@keyframes fadeInStretch {
    0% {opacity: 0; transform: translateX(50%);}
    100% {opacity: 1; transform: translateX(0);}
}


/* For the animations */

.m-scene .scene-element {
	animation-duration: 2s;
	transition-timing-function:ease-in;
	animation-fill-mode:both;
}

.m-scene .scene-element--fadeInStretch {
	animation-name:fadeInStretch;
}